.mainBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    height: auto;
    // border: 1px solid red;
  }
  
  .sidebarBox {
    width: 35%;
    // flex: 1;
    height: 40vh;
    padding-top: 3rem;
    // border: 2px solid black;
  }
  
  .mainContentBox {
    width: 40%;
    height: 200px;
    //   border: 2px solid red;
  }
  
  .userTextBox {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    border-radius: 5px;
  }
  
  .userTextBox:hover {
    background-color: rgb(233, 233, 233);
  }
  
  .UserDetailsBox {
    width: 40%;
    padding-right: 2rem;
  }
  
  